cmd naredbe za dump
cd C:\Program Files\PostgreSQL\15\bin
pg_dump -h localhost -p 5432 -U postgres -W -d muzejiZagreba -f C:\OR\muzejiZagreba_DUMP.sql

cmd naredba za import dumpa baze
cd C:\Program Files\PostgreSQL\15\bin
psql -U postgres probnaBaza < "C:\OR\muzejiZagreba_DUMP.sql"

package-lock.json
