<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Muzeji grada Zagreba">
    <meta name="keywords" content="muzeji, Zagreb, izložba, popis">
    <meta name="author" content="Korina Jurić">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Muzeji grada Zagreba</title>
</head>

<body>
    <header class="main-header">
        <nav>
            <ul>
                <li><a href="/">Početna</a></li>
                <li><a href="/datatable">Tablica muzeja</a></li>
                <li id="login"><a href="/login" id="loginButton">Prijava</a></li>
                <li id="profile" style="display: none;"><a href="/profile">Korisnički profil</a></li>
                <li id="refresh" style="display: none;"><a href="#" onclick="initiateSequentialDownloads()">Osvježi
                        preslike</a></li>
                <li id="logout" style="display: none;"><a href="/logout">Odjava</a></li>
            </ul>
        </nav>
    </header>


    <div class="container">
        <h1>Muzeji grada Zagreba - datoteke za preuzimanje u CSV i JSON formatu</h1>
        <h3>Ovaj skup podataka sadrži informacije o nekim muzejima i nekim njihovim izložbama u Zagrebu. Skup podataka
            služi za potrebe prve laboratorijske vježbe predmeta Otvoreno računarstvo na Fakultetu elektrotehnike i
            računarstva. Podaci su prikupljeni s Portala otvorenih podataka - Grad Zagreb i web-stranica svakog
            pojedinog navedenog muzeja te obuhvaćaju osnovne informacije o muzejima i njihovim izložbama.</h3>
        <div class="download-links">
            <a href="\muzejiCSV.csv" download="muzeji.csv" class="download-button">Preuzmi CSV</a>
            <a href="\muzejiJSON.json" download="muzeji.json" class="download-button">Preuzmi JSON</a>
        </div>
    </div>

    <script src="/scripts/user.js"></script>
    <script>
        function initiateSequentialDownloads() {
            event.preventDefault(); 
            window.location.href = '/exportData?format=csv';
            setTimeout(() => {
                window.location.href = '/exportData?format=json';
            }, 1000);
        }
    </script>
</body>

</html>